# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual Environments
venv/
.venv/
env/

# Environment Variables
.env
.env.*

# VS Code
.vscode/

# JetBrains
.idea/

# OS Files
.DS_Store
Thumbs.db

# Logs
*.log

# Python Cache
.pytest_cache/
.mypy_cache/
.coverage

# =========================
# ChromaDB
# =========================
chroma_db/

# =========================
# Model Files
# =========================
*.pkl
*.joblib
*.h5
*.pt
*.pth

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Node
# =========================
node_modules/

# React Build
frontend/build/
frontend/dist/

# npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# Uploads
# =========================
uploads/

# =========================
# Temporary Files
# =========================
temp/
tmp/

# =========================
# SQLite
# =========================
*.db
*.sqlite3

# =========================
# HuggingFace Cache
# =========================
.cache/
huggingface/

# =========================
# PyTorch Cache
# =========================
torch_cache/

# =========================
# Misc
# =========================
*.bak
*.swp

.mp4
.pptx
.html
.pdf